<a href="https://colab.research.google.com/github/R3dMercenary/An-lisis-de-datos-en-M-xico/blob/main/An%C3%A1lisis_de_homicidios_en_Sonora%2CSinaloa%2CJalisco.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Instrucciones**:

El objetivo de este trabajo es implementar un script que permita el análisis de datos a partir de una base de datos en MySQL o SQLite. Para su desarrollo se requiere la implementación de una base de datos que contenga información relacionada con un tema de interés de quien desarrolla el proyecto.
El código del proyecto deberá estar disponible en una plataforma de control de versiones, como GitHub, para facilitar la colaboración y seguimiento del progreso.

**Requisitos del proyecto:**

Implementación de la base de datos que contenga los datos a analizar.
Crear el esquema de la base de datos y las tablas asociadas al proyecto.
Definir las relaciones entre las tablas en caso de existir, así como las restricciones necesarias (claves primarias, etc.).
Desarrollo de la interfaz en Python.
Utilizar bibliotecas como 'mysql-connector-python' o 'SQLAlchemy' para conectarse a la base de datos MySQL desde Python.
Implementar la solución en libreta jupyter notebook.
Documentación y publicación en GitHub:
Crear un repositorio en github y subir el código fuente del proyecto.
Incluir un archivo README detallado con instrucciones para configurar la base de datos, instalar dependencias, y ejecutar el programa.
Documentar el código con comentarios y proporcionar ejemplo de uso.*texto en cursiva*

In [25]:
import pandas as pd
import sqlite3
import chardet
"""
Comenzamos por conseguir las bases de datos

"""
#url_base_asesinatos='https://www.inegi.org.mx/sistemas/olap/proyectos/bd/continuas/mortalidad/defuncioneshom.asp#'
#url_base_PIB='https://www.inegi.org.mx/temas/pib/#tabulados'



df_22=pd.read_csv('/content/2022.txt',engine='python',encoding=encoding,delimiter='\t')
df_12=pd.read_csv('/content/2012.txt',engine='python',encoding=encoding,delimiter='\t')
df_02=pd.read_csv('/content/2002.txt',engine='python',encoding=encoding,delimiter='\t')
df_92=pd.read_csv('/content/1992.txt',engine='python',encoding=encoding,delimiter='\t')

df_22.info()

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 35 entries, (' ', ' ', ' Total', ' Hombre') to (' 99', ' No especificado', ' 450', ' 378')
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  35 non-null     object
 1   Unnamed: 1  35 non-null     object
dtypes: object(2)
memory usage: 6.0+ KB

Continuamos creando una base de datos apoyandonos de la librería 'sqlite3', y una vez creando las tres tablas 'sonora','sinaloa','jalisco'

In [29]:
connection = sqlite3.connect('defunciones.db')
cursor = connection.cursor()

query_2022='''CREATE TABLE IF NOT EXISTS homicidios_2022(
                  id INTEGER PRIMARY KEY,
                  estado VARCHAR(50),
                  hombres INTEGER,
                  mujeres INTEGER,
                  total INTEGER)'''

query_2012='''CREATE TABLE IF NOT EXISTS homicidios_2012(
                  id INTEGER PRIMARY KEY,
                  estado VARCHAR(50),
                  hombres INTEGER,
                  mujeres INTEGER,
                  total INTEGER)'''

query_2002='''CREATE TABLE IF NOT EXISTS homicidios_2002(
                  id INTEGER PRIMARY KEY,
                  estado VARCHAR(50),
                  hombres INTEGER,
                  mujeres INTEGER,
                  total INTEGER)'''

query_1992='''CREATE TABLE IF NOT EXISTS homicidios_1992(
                  id INTEGER PRIMARY KEY,
                  estado VARCHAR(50),
                  hombres INTEGER,
                  mujeres INTEGER,
                  total INTEGER)'''

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
cursor.execute(query_2022)
cursor.execute(query_2012)
cursor.execute(query_2002)
cursor.execute(query_1992)



connection.commit()